img { border-color: green; box-shadow:; padding:; border-radius: 15px; width: 40px;
height: 40px; align: center; } html { background-color: #272727; } button { animation-play-state:running;
animation-name:clickfoda; animation:cubic-Bezier; background-color:white; text-align:
center; box-shadow: gray; font-size: 25px; font-style: normal; font-family: sans-serif;
padding: 10px 70px; margin: 10px 2; position: relative; border-radius: 5px; border-style:
inset; border-color: gray; } input { border-color: #59525c; position: relative;
width: 75%; padding: 15px 20px; margin: 8px 0; box-shadow: gray; border-radius:
7px; border-style: groove; font-size: medium; } h1 { color: #e6e6e6; font-family:serif;
font:Courier new,monospace; font-style:normal; text-align: center; } h2 { color:
#e6e6e6; font-family:sans-serif; font:larger; text-align: center; } h3 { color:
#e6e6e6; font-family:A; font:italic; text-align: center; } h4 { color: #e6e6e6;
font-family:monospace; font: medium; text-align: center; } h5 { color: #e6e6e6;
font-family: sans-serif; font: oblique; text-align: justify; } strong { color:
white; } h6 { color: #e6e6e6; font-family: serif; color: #e6e6e6; font: medium;
text-align: center; } body { background-color: #262526; } li { color: #e6e6e6;
}
<!--
Visual Code Mobile
Developed By Manish Nirmal
App Available on Play Store :-
https://play.google.com/store/apps/details?id=lk.visual.code.mobile
YouTube :-
https://youtube.com/ManishNirmal
-->